{{> header}}
<div id="html-page">
    <h1>Test html <a href="/">&larr;</a></h1>
    <p>Html</p>
    <div id="html-wrapper">
        <p>Hello!</p>
        <p><textarea></textarea></p>
        <div class="js-ball"><span>js</span></div>
        <div class="css-ball"><span>css</span></div>
    </div>
    <div id="controls">
        <input id="render-button" type="button" value="Render!" />
        <label><input id="render-checkbox" type="checkbox" /> Auto render</label>
    </div>
    <p class="small">Imperfect rendering capabilities of html elements and css animations are not able to be rendered.</p>
    <p>Canvas</p>
    <div id="canvas-wrapper">
        <canvas></canvas>
    </div>
</div>
{{> footer}}
