{{> header}}
<div id="video-page">
    <h1>Test video <a href="/">&larr;</a></h1>
    <p>Video</p>
    <div id="video-wrapper">
        <video src="{{videoUrl}}" controls></video>
    </div>
    <p>Canvas</p>
    <div id="canvas-wrapper">
        <canvas></canvas>
    </div>
</div>
{{> footer}}
